profiles {
  saga {
    executor.name        = 'slurm'
    executor.account     = 'nn9114k'

    singularity.enabled     = true
    singularity.autoMounts  = true
    singularity.pullTimeout = '10h'
    docker.enabled          = false
    podman.enabled          = false
    shifter.enabled         = false
    charliecloud.enabled    = false
    conda.enabled           = false
  }
}


params {
  genomes {
    'HG38_OFFLINE' {
      fasta        = "/cluster/projects/nn9114k/datngu/projects/variant_calling/offline/gatk_hg38/Homo_sapiens_assembly38.fasta"
      fai          = "/cluster/projects/nn9114k/datngu/projects/variant_calling/offline/gatk_hg38/Homo_sapiens_assembly38.fasta.fai"
      dict         = "/cluster/projects/nn9114k/datngu/projects/variant_calling/offline/gatk_hg38/Homo_sapiens_assembly38.dict"
      dbsnp        = "/cluster/projects/nn9114k/datngu/projects/variant_calling/offline/gatk_hg38/Homo_sapiens_assembly38.dbsnp138.vcf.gz"
      known_indels = "/cluster/projects/nn9114k/datngu/projects/variant_calling/offline/gatk_hg38/Homo_sapiens_assembly38.known_indels.vcf.gz"
      known_snps   = "/cluster/projects/nn9114k/datngu/projects/variant_calling/offline/gatk_hg38/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
      germline_resource = "/cluster/projects/nn9114k/datngu/projects/variant_calling/offline/gatk_hg38/af-only-gnomad.hg38.vcf.gz"
    }
  }
}
